<a href="https://colab.research.google.com/github/GerardoMayel/linear_lasso_ridge/blob/main/regularization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [3]:
from sklearn.model_selection import train_test_split
# Root Mean Square Error, RMSE, or mean square error
from sklearn.metrics import mean_squared_error

In [33]:
##MATPLOTLIB
import matplotlib.pyplot as plt

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
%cd '/content/drive/My Drive/Machine Learning/Curso_Profesional/data'

/content/drive/My Drive/Machine Learning/Curso_Profesional/data

In [13]:
!ls

candy.csv  felicidad.csv  heart.csv  whr2017.csv

In [15]:
dataset = pd.read_csv('whr2017.csv')
dataset

                      country  rank  score  ...  generosity  corruption  dystopia
0                      Norway     1  7.537  ...    0.362012    0.315964  2.277027
1                     Denmark     2  7.522  ...    0.355280    0.400770  2.313707
2                     Iceland     3  7.504  ...    0.475540    0.153527  2.322715
3                 Switzerland     4  7.494  ...    0.290549    0.367007  2.276716
4                     Finland     5  7.469  ...    0.245483    0.382612  2.430182
..                        ...   ...    ...  ...         ...         ...       ...
150                    Rwanda   151  3.471  ...    0.252756    0.455220  0.540061
151                     Syria   152  3.462  ...    0.493664    0.151347  1.061574
152                  Tanzania   153  3.349  ...    0.354256    0.066035  0.621130
153                   Burundi   154  2.905  ...    0.204435    0.084148  1.683024
154  Central African Republic   155  2.693  ...    0.280876    0.056565  2.066005

[155 rows x 12 columns]

In [16]:
dataset.describe()

             rank       score        high  ...  generosity  corruption    dystopia
count  155.000000  155.000000  155.000000  ...  155.000000  155.000000  155.000000
mean    78.000000    5.354019    5.452326  ...    0.246883    0.123120    1.850238
std     44.888751    1.131230    1.118542  ...    0.134780    0.101661    0.500028
min      1.000000    2.693000    2.864884  ...    0.000000    0.000000    0.377914
25%     39.500000    4.505500    4.608172  ...    0.154106    0.057271    1.591291
50%     78.000000    5.279000    5.370032  ...    0.231538    0.089848    1.832910
75%    116.500000    6.101500    6.194600  ...    0.323762    0.153296    2.144654
max    155.000000    7.537000    7.622030  ...    0.838075    0.464308    3.117485

[8 rows x 11 columns]

In [18]:
#features
x= dataset[['gdp','family', 'lifexp', 'freedom', 'corruption', 'generosity', 'dystopia']]
y = dataset[['score']]

print(x.shape)
print(y.shape)

(155, 7)
(155, 1)

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.25 )
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(116, 7)
(39, 7)
(116, 1)
(39, 1)

In [25]:
# Linear Regressor
modelLinear = LinearRegression().fit(x_train, y_train)
y_predict_linear = modelLinear.predict(x_test)
print(y_predict_linear.shape)

(39, 1)

In [26]:
# Lasso Regression
modelLasso = Lasso(alpha=.02).fit(x_train, y_train)
y_predict_lasso = modelLasso.predict(x_test)

In [27]:
#Ridge Regression
modelRidge = Ridge(alpha=1).fit(x_train, y_train)
y_predict_ridge = modelRidge.predict(x_test)

In [31]:
#Linear Mean Squared Error
linear_loss = mean_squared_error(y_test, y_predict_linear)
print("Linear Loss:", linear_loss)
print(modelLinear.coef_)

Linear Loss: 1.0133662600892512e-07
[[1.00014398 0.99989198 0.99980005 1.00014147 0.99964447 1.00000906
  0.99994104]]

In [29]:
#Lasso Mean Squared Error
lasso_loss = mean_squared_error(y_test, y_predict_lasso)
print("Lasso Loss:", lasso_loss)
print(modelLasso.coef_)

Lasso Loss: 0.05229191722499271
[1.25841053 0.92100806 0.52008183 0.78235572 0.         0.13392604
 0.86907769]

In [30]:
#Ridge Regression Mean Squared Error
ridge_loss = mean_squared_error(y_test, y_predict_ridge)
print("Ridge Loss:", ridge_loss)
print(modelRidge.coef_)

Ridge Loss: 0.00619878345512954
[[1.06703695 0.97021662 0.86691775 0.88738329 0.66443086 0.73379233
  0.95110601]]

In [35]:
print(x_test.shape)
print(y_test.shape)

(39, 7)
(39, 1)